@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

.logo{
  
  font-size: 60px;
  font-family: 'Sansita Swashed', cursive;
 position: absolute;
  left: 20px;
  top: 0;
color: white;
}
*{
  
  margin: 0;
}
.ust{
  width: 100%;
  height: 100px;
  background:#0096ff;
  margin-bottom: 200px;
    
}
ul{
  list-style: none;
  position: absolute;
  left: 800px;
  
  
  
}
li{
  color: white;
  float: left;
  font-size:40px;
  padding: 15px;
  font-family: 'Sansita Swashed', cursive;
transition: 0.5s;
  cursor: pointer;
}
li:hover{
  color:black;
  
  
}




